@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/*green - #43A047*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	min-height: 100%;
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
}
/* Navbar css start */
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background: white;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	margin-bottom: 5px;
}
.navbar .nav-links {
	display: flex;
	width: 30%;
	justify-content: space-between;
	text-decoration: none;
	z-index: 99;
}
.navbar .nav-links li {
	display: flex;
	padding: 0px 20px;
	list-style: none;
	z-index: 99;
}
.navbar .nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	color: black;
}
.logo {
	cursor: pointer;
}
.navbar .nav-links a {
	transition: all 0.3 ease 0s;
}
.navbar .nav-links a:hover {
	color: #0088a9;
}
.sub_menu1 {
	display: none;
}
.navbar .nav-links li:hover .sub_menu1 {
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	background: white;
	z-index: 2;
	margin-top: 20px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}
.navbar .nav-links li:hover .sub_menu1 ul {
	display: block;
	margin: 10px;
}
.navbar .nav-links li:hover .sub_menu1 ul li {
	width: 100%;
	padding: 10px;
	background: transparent;
	text-align: left;
}
.sub_menu2 {
	display: none;
}
.navbar .nav-links li:hover .sub_menu2 {
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	background: white;
	z-index: 2;
	margin-top: 20px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}
.navbar .nav-links li:hover .sub_menu2 ul {
	display: block;
	margin: 10px;
	transition-delay: 0s, 0s, 0s, 0.3s;
}
.navbar .nav-links li:hover .sub_menu2 ul li {
	width: 150px;
	padding: 10px;
	background: transparent;
	text-align: left;
}
/* Navbar css end */
/* Footer css start */
.footer {
	padding: 70px 0;
	margin-bottom: 0px;
	position: relative;
	margin-top: 5px;
}
.footer-container {
	max-width: 1170px;
	margin: auto;
}
ul {
	list-style: none;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}
.footer-col h4 {
	font-size: 18px;
	color: #000;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #5e8d93;
	height: 2px;
	box-sizing: border-box;
	width: 15%;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-size: 16px;
	color: #000;
	text-decoration: none;
	font-weight: 300;
	color: #000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover {
	color: #5e8d93;
	padding-left: 1px;
}
.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #fff;
}
.footer .footer-bottom {
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	color: #000;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 10px;
}
/* Footer css end */
/*Login css start*/
.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #5e8d93;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	background: #43A047;
}
.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.form .message a {
	color: #5e8d93;
	text-decoration: none;
}
.form .message a:hover {
	color: #43A047;
	text-decoration: none;
}
.form .register-form {
	display: none;
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}
.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}
.container .info {
	margin: 50px auto;
	text-align: center;
}
.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}
.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}
.container .info span a {
	color: #000000;
	text-decoration: none;
}
.container .info span .fa {
	color: #5e8d93;
}
input[type=button], input[type=submit], input[type=reset] {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background-color: #5e8d93;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
	background-color: #43A047;
}
/*Login css end*/
/* Scrollbar START */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: #5e8d93;
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: #5e8d93;
}
/* Scrollbar END */